# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]

.env
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ignore google cloud secrets
anjibot-435113-7c0712b3fd28.json

# Ignore streamlit secrets 
.streamlit/secrets.toml

# Ignore new version and data of app
app_groq.py
qa_answers.txt
rag.py
anjibot_data.md
components/experiment.ipynb
components/answer_general_query_better.py
